<% content_for :js do %>
<% puts "TRAVELMAPS..." %>
  <%= javascript_include_tag "/javascripts/travelmaps.js" %>
<% end %>


<% content_for :pageTitle do %>
<div class="page-header">
  <h1 class="text-center"><%= @travelist.title %></h1>
  <p class="text-center"><em><%= @travelist.description %></em></p>
  <% if @places.length
  visited = @places.select {|place| place.visited?} %>
  <p class="text-center">Stats: You have completed <strong class="visitCount"><%= visited.length %></strong> of <strong class="visitTotal">0 places</strong> of your travelist!</p>
  <% end %>
</div>
<% end %>

<div class="row">
<div class="col-md-4">
  <div class="list-wrapper">
    <table id="list" class="table table-hover">
      <tr>
        <th>Place</th>
        <th>Status</th>
        <th>Remove</th>
      <% @places.each do |place| %>
           <tr id="<%= place.id %>" class="place-rows">
              <td class="name"><%= place.name %></td>
              <td class="place_visited"><%= visited_status(place.visited) %></td> 
              <td><%= link_to 'Delete', place_path(place), class: "deletePlace" %></td>
              <td class="hiddenCoords"><%= place.coords =%></td>
              <td class="desc"><%= place.description %></td>
            </tr>
      <% end %>
    </table>

    <div class="panel panel-default">
      <div class="panel-heading text-center add-place" data-toggle="collapse" href="#collapseAdd" aria-expanded="false" aria-controls="collapseAdd">Add a place
      </div>
      <div class="collapse panel-body" id="collapseAdd">
        <%= form_for([@travelist, @travelist.places.build]) do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "autocomplete form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
          </div>
          <%= f.text_area :coords %>
          <div id="submit" class="form-group">
            <%= f.submit class: "btn btn-default center-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <div class="col-md-8">
    <div id="map">
    </div>
  </div>
</div>
<% content_for :extra do %>
      <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJB_lUYjfjoUK7nXENxrJFz7FsjU8CSvc&libraries=places&callback=travelMaps.init">
    </script>
<% end %>