<div id="left">
  <div id="placelist_title">
    <h2><%= @placelist.title %></h2>
  </div>
   
  <p>
    <%= @placelist.description %>
  </p>

  <div id="list">
    <% @places.each do |place| %>
         <div class="<%= place.name %>"><span class="hiddenCoords"><%= place.coords =%></span><span class="place_visited"><%= place.visited %></span> <%= place.name %> <%= link_to 'Delete', placelist_place_path(@placelist, place), class: "deletePlace" %></div>
    <% end %>
  </div>

  <h3>Add a place</h3>
  <%= form_for([@placelist, @placelist.places.build]) do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "autocomplete" %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
    <%= f.text_area :coords %>
    <p id="submit">
      <%= f.submit %>
    </p>
  <% end %>
</div>
<div id="right">
  <p>MAPS MAPS</p>
  <div id="map">
  </div>
</div>