<p>
  <strong>Place:</strong>
  <%= @place.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<% if @place.visited %>
	<%= link_to 'Un-visit', '/toggle_visited' %>
<% else %>
	<%= link_to 'Visit', place_path(@place)+'/toggle_visited' %>
<% end %>

<%= link_to 'Back', places_path %>