<!DOCTYPE html>
<html>
  <head>
    <title>Travelist</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :js %>
  </head>

  <body>
    <%= render "shared/nav" %>
    <%= yield :pageTitle %>
    <div id="appcontain" class="container-fluid">
    <%= yield %>
  </div>

  <%= yield :extra %>
    
  </body>
</html>
